# First lets inspect and clean our data

In [28]:
import pandas as pd

df_list = []

# Getting DataFrames from our .csv files using loop
for i in range(1,13):
    if i < 10:
        df_list.append(pd.read_csv('data/JC-20230' + str(i) + '-citibike-tripdata.csv'))
    else:
        df_list.append(pd.read_csv('data/JC-2023' + str(i) + '-citibike-tripdata.csv'))
combined_df = pd.concat(df_list)
combined_df.reset_index(drop=True, inplace=True)
# Let's see how many rows we got
print('Total number of rows in Citi Bike dataset: ' + str(combined_df.shape[0]))
combined_df.head(988851)

Total number of rows in Citi Bike dataset: 988851

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
988846,7E862701EE7A6A03,classic_bike,2023-12-20 17:55:41,2023-12-20 18:00:10,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748720,-74.040487,40.754530,-74.026580,casual
988847,DFAF91AB91BE25DB,classic_bike,2023-12-13 14:36:43,2023-12-13 14:42:31,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748767,-74.040470,40.754530,-74.026580,member
988848,AEE7B49E6EDFAE6F,classic_bike,2023-12-18 16:40:00,2023-12-18 16:45:45,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744291,-74.034404,40.754530,-74.026580,member
988849,A38E98956AD72EFB,classic_bike,2023-12-02 13:42:51,2023-12-02 13:50:42,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744398,-74.034501,40.754530,-74.026580,member
988850,F16E0B969D877368,classic_bike,2023-12-19 16:30:13,2023-12-19 16:36:54,6 St & Grand St,HB302,Clinton St & 7 St,HB303,40.744398,-74.034501,40.745420,-74.033320,member