# First, let's inspect and clean our CitiBike trips data

In [41]:
import pandas as pd

df_list = []

# Getting DataFrames from our .csv files using loop
for i in range(1,13):
    if i < 10:
        df_list.append(pd.read_csv('data/JC-20230' + str(i) + '-citibike-tripdata.csv'))
    else:
        df_list.append(pd.read_csv('data/JC-2023' + str(i) + '-citibike-tripdata.csv'))
combined_df = pd.concat(df_list)
combined_df.reset_index(drop=True, inplace=True)
# Let's see how many rows we got
print('Total number of rows in Citi Bike dataset: ' + str(combined_df.shape[0]))
combined_df.head(988851)

Total number of rows in Citi Bike dataset: 988851

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
988846,7E862701EE7A6A03,classic_bike,2023-12-20 17:55:41,2023-12-20 18:00:10,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748720,-74.040487,40.754530,-74.026580,casual
988847,DFAF91AB91BE25DB,classic_bike,2023-12-13 14:36:43,2023-12-13 14:42:31,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748767,-74.040470,40.754530,-74.026580,member
988848,AEE7B49E6EDFAE6F,classic_bike,2023-12-18 16:40:00,2023-12-18 16:45:45,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744291,-74.034404,40.754530,-74.026580,member
988849,A38E98956AD72EFB,classic_bike,2023-12-02 13:42:51,2023-12-02 13:50:42,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744398,-74.034501,40.754530,-74.026580,member
988850,F16E0B969D877368,classic_bike,2023-12-19 16:30:13,2023-12-19 16:36:54,6 St & Grand St,HB302,Clinton St & 7 St,HB303,40.744398,-74.034501,40.745420,-74.033320,member

# Examining null values

In [42]:
combined_df.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name      85
start_station_id        85
end_station_name      3319
end_station_id        3319
start_lat                0
start_lng                0
end_lat                954
end_lng                954
member_casual            0
dtype: int64

# We can see that we are missing 3319 values in columns about end_station_*.
# Lets figure out what can be the reason of that and how we can tackle this issue.

In [43]:
# Get those 85 rows
combined_df[combined_df['end_station_name'].isnull()]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
448,8EA045BBA37A0719,classic_bike,2023-01-06 17:51:41,2023-01-06 17:51:45,Hoboken Terminal - Hudson St & Hudson Pl,HB101,NaN,NaN,40.736001,-74.030338,40.74,-74.03,member
547,035683025D51ACA0,classic_bike,2023-01-28 23:03:42,2023-01-30 00:03:34,Hamilton Park,JC009,NaN,NaN,40.727596,-74.044247,NaN,NaN,member
549,ECA9E0C8111549F0,electric_bike,2023-01-21 01:45:25,2023-01-22 02:45:21,Madison St & 1 St,HB402,NaN,NaN,40.738790,-74.039300,NaN,NaN,member
567,68759C3009682643,classic_bike,2023-01-27 09:01:26,2023-01-27 09:06:37,Hamilton Park,JC009,NaN,NaN,40.727553,-74.044259,40.73,-74.04,member
569,A7441B9B51909946,classic_bike,2023-01-13 16:03:30,2023-01-13 17:08:06,Pershing Field,JC024,NaN,NaN,40.742651,-74.051815,40.73,-74.05,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
983559,8C1705634913B6E7,classic_bike,2023-12-18 14:12:25,2023-12-19 15:12:20,Hoboken Ave at Monmouth St,JC105,NaN,NaN,40.735208,-74.046964,NaN,NaN,casual
985729,EF861287AFC29122,classic_bike,2023-12-13 07:42:49,2023-12-13 08:47:42,Hoboken Ave at Monmouth St,JC105,NaN,NaN,40.735286,-74.046814,40.73,-74.03,member
985730,5C46CC1B233A9EE8,classic_bike,2023-12-08 08:13:25,2023-12-08 09:30:59,Union St,JC051,NaN,NaN,40.718015,-74.083314,40.73,-74.03,member
987479,F9508E6CFB511D70,classic_bike,2023-12-10 12:18:10,2023-12-10 13:36:55,Madison St & 1 St,HB402,NaN,NaN,40.738697,-74.039263,40.75,-74.03,casual
987741,B9D3FDD2931A78D3,classic_bike,2023-12-27 05:21:37,2023-12-27 06:19:47,Madison St & 1 St,HB402,NaN,NaN,40.738822,-74.039195,40.74,-74.03,member

# As we can the data is Missing Completely At Random, so in this case it's better to just remove those rows because some of them show abnormal high trip duration.

In [44]:
combined_df.dropna(inplace=True)

# Create Duration column

In [45]:
# First, ensure that start_end and start_at are in datetime format
combined_df['started_at'] = pd.to_datetime(combined_df['started_at'])
combined_df['ended_at'] = pd.to_datetime(combined_df['ended_at'])

# Subtract ended_at from started_at to create the duration column
combined_df['duration_min'] = ((combined_df['ended_at'] - combined_df['started_at']).dt.total_seconds() / 60).round(2)
combined_df.to_csv('data/ridership.csv', index=False)

# Now we'll examine our weather data

In [46]:
# Reading csv file into DataFrame
w_df = pd.read_csv('data/export.csv')
# Removing unnecessary columns
w_df.drop(['wpgt', 'tsun'], axis=1, inplace=True)
w_df.to_csv('data/weather.csv', index=False)

# Now our data is ready